<!DOCTYPE html>
<html>
<head>
  <title>Pizza</title>
  <%= stylesheet_link_tag :site %>
  <%= javascript_include_tag :all %>
</head>
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>

